.carousel {
  width: 80%;
  margin-left: 300px;
  margin-top: 50px;
}

.carousel select {
  width: 400px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.carousel input {
  display: block;
  width: 400px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
}

.btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgba(255, 0, 0, 0.649);
  color: white;
  border: none;
  transition: all 0.3s linear;
}

.btn:hover {
  background-color: white;
  color: rgba(255, 0, 0, 0.649);
  border: 1px solid rgba(255, 0, 0, 0.649);
}
